﻿@model QuanLySinhVien.Models.KetQuaHocTap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KetQuaHocTap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopHocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopHocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaKQHT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
