﻿@model QuanLySinhVien.Models.LopHocPhan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>LopHocPhan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamHoc" class="control-label"></label>
                <input asp-for="NamHoc" class="form-control" />
                <span asp-validation-for="NamHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HocKy" class="control-label"></label>
                <input asp-for="HocKy" class="form-control" />
                <span asp-validation-for="HocKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemGK" class="control-label"></label>
                <input asp-for="DiemGK" class="form-control" />
                <span asp-validation-for="DiemGK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemCuoiKy" class="control-label"></label>
                <input asp-for="DiemCuoiKy" class="form-control" />
                <span asp-validation-for="DiemCuoiKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mon" class="control-label"></label>
                <input asp-for="Mon" class="form-control" />
                <span asp-validation-for="Mon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
