﻿@model QuanLySinhVien.Models.LopHocPhan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LopHocPhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemGK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemGK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemCuoiKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemCuoiKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLHP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
