﻿@model IEnumerable<QuanLySinhVien.Models.LopHocPhan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemGK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemCuoiKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemGK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemCuoiKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLHP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLHP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLHP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
