﻿@using QuanLySinhVien.ViewModels;
@{
    ViewData["Title"] = "GetListSinhVienByMonHoc";
}

<h1>GetListSinhVienByMonHoc</h1>

<form asp-action="GetListSinhVienByMonHoc">
    Tìm <input name="TuKhoa" placeholder="Cần tìm?" />
    <button class="btn btn-success">Tìm</button>
</form>

@{
    var data = ViewBag.Data as List<DiemViewModel>();
}